<style>
    p {
    font-style: italic;
		font-weight: bold;
		font-size: 22px;
		font-family: arial, sans-serif;
    }
</style>



<p> Olá bem-vindo ao sistema de rastreio 4Devs.</p> <br>
<p> Temos como objetivo ajudar empresas que necessitam de rastreio para os seus caminhões.</p> <br>
<p> Esse Projeto está sendo desenvolvido por: Lucas Renatto, Lucas Zanon, Paulo Sene e Renam Melo</p> <br><br>
<p> Abaixo é possível ver como o Sistema irá funcionar:</p>

<img src="../../../assets/img.png" alt="Nosso Projeto" width=645 height=180>


