<h3>Historico de Viagens</h3>

<table class="table table-dark">
  <thead class="thead-dark">
    <tr>
        <th> Nome do Motorista</th>        
        <th class="text-center">Marca</th>
        <th class="text-center">Placa</th>
        <th></th>
      </tr>
      </thead>
    

<tbody>
    <tr *ngFor= "let motorista of motoristas">    
        <td> {{motorista.cm_nome}}</td> <td class ="text-center"> {{motorista.cm_marca_cam}}</td> <td> {{motorista.cm_placa_cam}}</td> 


        <div class="botaover">
            <a href="/verhistorico" class="btn btn-primary"> Ver </a>
          </div>

</tbody>