<a href="/consultaalertas" class="btn btn-primary"> Voltar </a> <br>
<h3> Alertas omitidos do motorista:</h3>
<style>
    

    .mapa2
    {
     height: 250px;
     width: 250px;  
     display: inline-block;
    }   

   


#mapainicio {
 float: left;
}
#mapatemporeal{
 float: right;
}

</style>
<tr *ngFor= "let localizacao of localizacoes">  

<h1>Ultimo Alerta Omitido</h1>
<p>Status do caminhão</p> {{localizacao.loc_Caminhao_Quebrado}}
<i> O caminhão quebrou as:</i> {{localizacao.Loc_Quebrado_Hora}} <i>horas </i> <i>no dia: </i> {{localizacao.Loc_Quebrado_Data}} 
<div id="maptemporeal">
    <agm-map class="mapa2" [latitude]="localizacao.loc_Lat_Quebrou" [zoom]="zoom" [longitude] = "localizacao.loc_Long_Quebrou">
        <agm-marker [latitude]="localizacao.loc_Lat_Quebrou" [longitude] ="localizacao.loc_Long_Quebrou"> </agm-marker> 
      </agm-map>
   </div>
   </tr>
  