<h3>Consultar Motoristas</h3>

<table class="table table-dark">
  <thead class="thead-dark">
    <tr>
        <th> Nome do Motorista</th>        
        <th class="text-center">Marca</th>
        <th class="text-center">Placa</th>
        <th></th>
      </tr>
      </thead>
    
  <tbody>
    <tr *ngFor= "let motorista of motoristas">    
        <td> {{motorista.cm_nome}}</td> <td class ="text-center"> {{motorista.cm_marca_cam}}</td> <td> {{motorista.cm_placa_cam}}</td>   

      
         <div *ngIf ="modoEdicao==true">

          <form #edicao="ngForm" (submit)="alterarMotorista()">
          
            <label for="inputMarcaCM">Marca Caminhão</label>
            <input type="text" class="form-control" id="marcaEditar"  name ="marcaEditar"[(ngModel)] = "motoristaEditar.cm_marca_cam" required placeholder="ex: DAF">
            <label for="inputPlacaCM">Placa do Caminhão</label>
            <input type="text" class="form-control" id="placaEditar"  name ="placaEditar"[(ngModel)] = "motoristaEditar.cm_placa_cam" required  placeholder="ex:ABC1C34">
            <button type="submit" class="btn btn-xs btn-success">Salvar Edição</button>
         
        </form>

       
      </div>
        
     
     
     
      <td class="text-center">  <button title="Editar" class="btn btn-xs btn-primary" (click)="ativarModoEdicao(motorista)"   >Editar</button> </td>
      <td class="text-center">  <button title="Excluir" class="btn btn-xs btn-danger" (click)="excluirMotorista(motorista)"(click)="botaoClicado()">Excluir</button> </td>
      
      
      <div class="botaover">
      <a href="/perfilmotorista" class="btn btn-primary"> Ver </a>
    </div>
        
      
    </tr>
    </tbody>
    

    
  </table>
  <a href="/motoristaindex" class="btn btn-success"> Voltar </a>
  
 


  