
<h2>Informações sobre o motorista:</h2>
<a href="/consultarmotorista" class="btn btn-primary"> Voltar </a>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nome</label>
        <input class="form-control" type="text" placeholder="Lucas Renatto" readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="inputdatnasCM">Data de Nascimento</label>
        <input class="form-control" type="text" placeholder="08/05/2001" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputCpfCM">CPF</label>
        <input class="form-control" type="text" placeholder="05597821475" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputRgCM">RG</label>
        <input class="form-control" type="text" placeholder="124752711" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Endereço</label>
      <input class="form-control" type="text" placeholder="Rua Major Tomaz" readonly>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Cidade</label>
        <input class="form-control" type="text" placeholder="Tomazina" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="inputEstadoMT">Estado</label>
        <input class="form-control" type="text" placeholder="PR" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputCepMT]">CEP</label>
        <input class="form-control" type="text" placeholder="84935000" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputMarcaCM">Marca Caminhão</label>
        <input class="form-control" type="text" placeholder="volvo" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputPlacaCM">Placa do Caminhão</label>
        <input class="form-control" type="text" placeholder="ABC1C34" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCarteiraCM">Habilitação</label>
        <input class="form-control" type="text" placeholder="E" readonly>
      </div>
    </div>
    
    
   <h2> Viagem Atual:</h2>
   
    
 
  
    
    
   <tr *ngFor= "let localizacao of localizacoes">  
 
    
    <p>A viagem começou as: <br> <b>{{localizacao.loc_Hora}}</b> horas na data <b>{{localizacao.loc_Data}}</b></p>
   <div id ="mapas">
    <div id="mapinicio"> 
      <h3>Localização Inicio</h3>
    <agm-map class="mapstart" [latitude]="localizacao.loc_Lat_Inicial" [zoom]="zoom" [longitude] = "localizacao.loc_Long_Inicial">
        <agm-marker [latitude]="localizacao.loc_Lat_Inicial" [longitude] ="localizacao.loc_Long_Inicial"> </agm-marker> 
      </agm-map>
   </div> 
  
   <div id="maptemporeal">
    <h3>Localização Atual</h3>
    <agm-map class="mpnow" [latitude]="localizacao.loc_Lat_Tempo_Real" [zoom]="zoom" [longitude] = "localizacao.loc_Long_Tempo_Real">
        <agm-marker [latitude]="localizacao.loc_Lat_Tempo_Real" [longitude] ="localizacao.loc_Long_Tempo_Real"> </agm-marker> 
      </agm-map>
   </div>


   <div id="mapfinal">
    <h3>Localização Final</h3>
    <agm-map class="mpend" [latitude]="localizacao.loc_Lat_Final" [zoom]="zoom" [longitude] = "localizacao.loc_Long_Final">
        <agm-marker [latitude]="localizacao.loc_Lat_Final" [longitude] ="localizacao.loc_Long_Final"> </agm-marker> 
      </agm-map>
   </div>

  </div>
  </tr>
<td class="text-center">  <button title="Excluir" class="btn btn-xs btn-danger"(click)="statusBotao()">{{valorbotao}}</button> </td>    
 




