<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">FourDevs Rastreio</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Procurar Motorista" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href='./motoristas/cadastrarmotoristas/cadastrarmotoristas.component.html'>Sair</a>
      </li>
    </ul>
  </nav>
  

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/index">
                <span data-feather="shopping-cart"></span>
                Home
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/motoristaindex">
                <span data-feather="file"></span>
                Motoristas
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/consultaalertas">
                <span data-feather="shopping-cart"></span>
                Alertas
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/historico">
                <span data-feather="shopping-cart"></span>
                Viagens
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              
            </div>
            
          </div>
        </div>
        

        <style>
          agm-map {
            height: 400px;
            width: 400px;
          }
        </style>


        <router-outlet> </router-outlet>
       

         
      </main>
    </div>
  </div>
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Sobre</h6>
            <p class="text-justify"> Somos a 4Devs e temos como objetivo ajudar empresas que tem objetivo utilizar tecnologia para ampliar seu desenvolvimento. </p>
          </div>

         

          
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">4Devs</a>.
            </p>
          </div>

        </div>
      </div>
</footer>